header {
    justify-content: space-between;
}

header .wp-block-home-link {
    margin-right: -20px;
}

header .wp-block-home-link a {
    background-image: url('../images/home.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 18px 17px;
    height: 40px;
    width: 40px;
    text-indent: -9999rem;
    opacity: .75;
}

header .wp-block-search * {
    transition: all 0.4s ease;
}

header .wp-block-search .wp-block-search__inside-wrapper {
    border: 0 none;
    padding: 0;
    flex-direction: row-reverse;
    height: 35px;
    width: 107px;
}

header .wp-block-search .wp-block-search__inside-wrapper:focus-within {
    width: 226px;
}

header .wp-block-search input {
    background: transparent;
    border-radius: 0 6px 6px 0;
    font-size: 1.05em;
    color: rgba(255, 255, 255, 0.75);
}

header .wp-block-search .wp-block-search__inside-wrapper:focus-within input {
    background: white;
    color: #afafaf;
}

header .wp-block-search input::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header .wp-block-search .wp-block-search__inside-wrapper:focus-within input::placeholder {
    color: #afafaf;
}

header .wp-block-search .wp-block-search__button.has-icon {
    padding: 0 0 0 .5rem;
    margin: 0;
    border-radius: 6px 0 0 6px;
    background: transparent;
}

header .wp-block-search .wp-block-search__inside-wrapper:focus-within .wp-block-search__button.has-icon {
    background-color: white;
}

header .wp-block-search .wp-block-search__button.has-icon svg {
    fill: rgba(255, 255, 255, 0.75);
    transform: scaleX(-1);
}

header .wp-block-search .wp-block-search__inside-wrapper:focus-within .wp-block-search__button.has-icon svg {
    fill: #afafaf;
}