.comment-meta a,
.skip-to-reply a {
  text-decoration: none;
}

.skip-to-reply {
  // hide by default.
  display: none;
  // only show, when preceded by comments title.
  .wp-block-comments-title + & {
    display: unset;
  }
}

.wp-block-comment-content {
  margin: 0;

  p {
    font-size: 1.045rem;
    line-height: 1.8;
    margin: 0 0 1.0625rem;
  }

  h1 {
    margin: 1.76rem 0 1.056rem;
    font-size: 1.76rem;
    line-height: 1.8;
  }

  h2 {
    margin: 1.54rem 0 0.924rem;
    font-size: 1.54rem;
    line-height: 1.8;
  }

  h3 {
    margin: 0.858rem 0 0.572rem;
    font-size: 1.43rem;
    line-height: 1.8;
  }

  h4 {
    margin: 0.66rem 0 0.396rem;
    font-size: 1.32rem;
    line-height: 1.8;
  }

  h5,
  h6 {
    margin: 0.363rem 0 0.363rem;
    font-size: 1.21rem;
    line-height: 1.8;
  }

  blockquote {
    padding: 0 0 0 0.9375rem;
    background: none;
    border-left: 1px solid var(--wp--preset--color--input-border);

    p {
      margin: 0;
      font-size: 1.045rem;
      font-style: italic;
      line-height: 1.5 !important;

      &:last-child {
        margin: 0;
      }
    }
  }

  ul, ol {
    font-size: 1.045rem;
    margin: 0 0 30px 22px;
    padding: 0;
    line-height: 1.8;
  }

  ol li {
    list-style-type: decimal;
  }

  ul li {
    list-style-type: square;
  }

  address {
    padding: 0 0 1.875rem;
    font-size: 1.1rem;
    line-height: 1.7;
  }

  code {
    font-size: 1rem;
  }

  pre {
    font-size: 1.265rem;
    line-height: 1.6445rem;
  }

  + .wp-block-separator {
    border-bottom-color: var(--wp--preset--color--border-primary);
  }
}
