.entry-details {
  a {
    text-decoration: none;
  }

  > :not(:first-child)::before {
    display: inline-block;
    content: "\00b7";
    width: 15px;
    text-align: center;
  }
}

.entry-meta {
  a {
    text-decoration: none;
  }
}

.wp-block-query .wp-block-post-template hr,
.wp-block-post-content .wp-block-separator {
  border: none;
  border-bottom: 1px solid var(--wp--preset--color--font-primary);
  margin-bottom: 30px;
  margin-top: 30px;
}

.wp-block-post-navigation-link {
  transition: all 0.2s ease-in-out;
  position: relative;
  max-width: fit-content;

  &:has(a) {
    padding: 0.4375rem 0.75rem;
  }

  &:hover {
    background-color: var(--wp--preset--color--font-primary);
  }

  // make full "button" clickable
  a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}