h1, h2, h3, h4, h5, h6 {
  color: var(--wp--preset--color--font-secondary);
}

a {
  color: var(--wp--preset--color--font-tertiary);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.entry-content {
  a {
    text-decoration: underline;
  }

  ul, ol {
    margin: 0 0 30px 22px;
    padding: 0;
    line-height: 1.8;
  }

  li {
    list-style-type: square;
  }

  p {
    margin: 0 0 30px;
  }
}


