html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--wp--preset--color--font-secondary);
}

.entry-content {
  a {
    text-decoration: underline;
  }

  ul, ol {
    margin: 0 0 30px 22px;
    padding: 0;
    line-height: 1.8;
  }

  ul li {
    list-style-type: square;
  }

  p {
    margin: 0 0 30px;
    line-height: 1.6;

    /* Additional font sizes line-heights */
    &.has-small-font-size {
      line-height: 1.45;
    }
    &.has-regular-font-size {
      line-height: 1;
    }
    &.has-large-font-size {
      line-height: 1.3;
    }
    &.has-larger-font-size {
      line-height: 1.3;
    }

    a {
      text-decoration: underline;
    }
  }
}


// @todo: Replace with `theme.json` settings, when `.wp-block-post-content-is-layout-flow > *` doesn't apply anymore.
a {
  color: var(--wp--preset--color--primary);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

:root {
  h1 {
    margin: 2em 0 1.6em;
  }

  h2 {
    margin: 1.4em 0 0.6em;
  }

  h3 {
    margin: 1.3em 0 0.6em;
  }

  h4 {
    margin: 1.1em 0 0.5em;
  }

  h5 {
    margin: 0.9em 0 0.9em;
  }

  h6 {
    margin: 0.7em 0 0.7em;
  }

  blockquote {
    margin: 0 0 1.875rem;
    padding: 1.25rem 1.25rem 1.25rem 1.875rem;
    border-left: 6px solid var(--wp--preset--color--font-primary);

    p {
      font-size: 1.1875rem;
      line-height: 1.78125rem;
      margin: 0;
      padding: 0;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 1.782rem;
    width: 100%;

    th, td {
      padding: 0.625rem 0.75rem;
      border: 1px solid #ececec;
      text-align: left;
    }

    th {
      font-weight: bold;
    }
  }

  .wp-block-table table {
    font-size: 1rem;
    line-height: normal;

    tr {
      vertical-align: baseline;
    }

    td, th {
      border-color: var(--wp--preset--color--font-primary);
    }

    th {
      font-weight: bold;
    }
  }

  li ul,
  li ol {
    margin-bottom: 0;
  }

  code {
    font-size: 1.12125rem;
  }

  .wp-block-separator {
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background-color: var(--wp--preset--color--font-primary);
    margin-bottom: 30px;
    margin-top: 30px;
  }

  ins {
    background: #ffffcc;
    text-decoration: none;
  }

  kbd {
    font-size: 0.975rem;
  }

  pre {
    margin-bottom: 1.875rem;
    padding: 0.9375rem;
    overflow: auto;
    background: #f8f8f8;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 0.9375rem;
    line-height: 1.6;
  }

  dl dt {
    font-size: 1.045rem;
    color: var(--wp--preset--color--font-secondary);
    font-weight: bold;
    line-height: 1.6;
  }

  dl dd {
    margin: 0 0 1.875rem 0;
    font-size: 1.045rem;
    line-height: 1.4;
  }
}