
.wp-block-search {
  * {
    transition: all 0.4s ease;
  }

  .wp-block-search__inside-wrapper {
    border: 0 none;
    padding: 0;
    flex-direction: row-reverse;
    height: 35px;
    width: 107px;

    &:focus-within {
      width: 226px;

      input {
        background: var(--wp--preset--color--header-search-background-hover);
        color: var(--wp--preset--color--header-search-hover);

        &::placeholder {
          color: var(--wp--preset--color--header-search-hover);
        }
      }

      .wp-block-search__button.has-icon {
        background-color: white;

        svg {
          fill: var(--wp--preset--color--header-search-hover);
          stroke: var(--wp--preset--color--header-search-hover);
        }
      }
    }
  }

  input {
    background: var(--wp--preset--color--header-search-background);
    border-radius: 0 6px 6px 0;
    font-size: 1.05em;
    color: var(--wp--preset--color--header-search);

    &::placeholder {
      color: var(--wp--preset--color--header-search);
    }
  }

  .wp-block-search__button.has-icon {
    padding: 0 0 0 .5rem;
    margin: 0;
    border-radius: 6px 0 0 6px;
    background: var(--wp--preset--color--header-search-background);

    svg {
      fill: var(--wp--preset--color--header-search);
      stroke: var(--wp--preset--color--header-search);
      stroke-opacity: .75;
      stroke-width: 1px;
      transform: scaleX(-1);
    }
  }
}