<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:columns {"style":{"spacing":{"blockGap":{"left":"50px"}}}} -->
<div class="wp-block-columns"><!-- wp:column {"width":"","layout":{"type":"default"}} -->
<div class="wp-block-column"><!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group"><!-- wp:group {"className":"entry-details","style":{"spacing":{"padding":{"bottom":"8px"},"blockGap":"0"},"elements":{"link":{"color":{"text":"var:preset|color|grey"}}},"typography":{"fontSize":"0.94rem"}},"textColor":"grey","layout":{"type":"flex"}} -->
<div class="wp-block-group entry-details has-grey-color has-text-color has-link-color" style="padding-bottom:8px;font-size:0.94rem"><!-- wp:post-date {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|grey"},":hover":{"color":{"text":"var:preset|color|font-primary"}}}},"typography":{"textDecoration":"none"}}} /-->

<!-- wp:post-comments-link {"style":{"elements":{"link":{"color":{"text":"var:preset|color|grey"},":hover":{"color":{"text":"var:preset|color|font-primary"}}}},"typography":{"textDecoration":"none"}}} /--></div>
<!-- /wp:group -->

<!-- wp:post-title {"isLink":true,"style":{"typography":{"fontSize":"2.2rem"},"spacing":{"margin":{"top":"0","bottom":"30px"}}}} /-->

<!-- wp:post-featured-image {"isLink":true} /-->

<!-- wp:post-content {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"layout":{"type":"default"}} /-->

<!-- wp:group {"className":"entry-meta","style":{"spacing":{"margin":{"top":"6rem","bottom":"6rem"},"blockGap":"0"},"typography":{"fontSize":"0.94rem","lineHeight":"1.5"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group entry-meta" style="margin-top:6rem;margin-bottom:6rem;font-size:0.94rem;line-height:1.5"><!-- wp:post-terms {"term":"category","prefix":"Posted in: ","style":{"elements":{"link":{"color":{"text":"var:preset|color|grey"},":hover":{"color":{"text":"var:preset|color|font-primary"}}}}},"textColor":"grey"} /-->

<!-- wp:post-terms {"term":"post_tag","prefix":"Tagged: ","style":{"elements":{"link":{"color":{"text":"var:preset|color|grey"},":hover":{"color":{"text":"var:preset|color|font-primary"}}}}},"textColor":"grey"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"comments"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"300px","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}}} -->
<div class="wp-block-column" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;flex-basis:300px"><!-- wp:template-part {"slug":"sidebar","tagName":"aside"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->